@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');



body{
  font-family: 'Mulish', sans-serif;
  background: peachpuff;
  text-align: center;
}

h2 {
  color: brown;
  text-decoration: underline;
}

button{
  font-family: 'Mulish', sans-serif;
  background: brown;
  color: white;
  font-size: 120%;
}

ul{
  text-align: center;
  list-style-position: inside;
}

ol{
  text-align: center;
  list-style-position: inside;
}